extends layout

block content
  .row.banner
    .col-12
     h1 Loc8r
        small &nbsp;Find places to work with wifi near you!
  .row
    .col-12.col-md-8
      .card
        .card-block
          h4
            a(href="/location") Starcups
            small &nbsp;
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.far.fa-star
              i.far.fa-star
            span.badge.badge-pill.badge-default.float-right 100m
          p.address 125 High Street, Reading, RG6 1PS
            .facilities
              span.badge.badge-warning Hot drinks
              span.badge.badge-warning Food
              span.badge.badge-warning Premium wifi
        .card-block
          h4
            a(href="/location") Tim Bertons
            small &nbsp;
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.far.fa-star
              i.far.fa-star
            span.badge.badge-pill.badge-default.float-right 250m
          p.address 112 Hugh Sally Crescent, Reading, BW3 9UX
            .facilities
              span.badge.badge-warning Tasty curry
              span.badge.badge-warning Fast service
              span.badge.badge-warning Drive-through
        .card-block
          h4
            a(href="/location") Momeyes
            small &nbsp;
              i.fas.fa-star
              i.fas.fa-star
              i.fas.fa-star
              i.far.fa-star
              i.far.fa-star
            span.badge.badge-pill.badge-default.float-right 180m
          p.address 23 Seasaw Avenue, Reading, IO8 6HJ
            .facilities
              span.badge.badge-warning Chicken nuggets
              span.badge.badge-warning Chicken burgers
              span.badge.badge-warning Chicken chickens
    .col-12.col-md-4
      p.lead Loc8r helps you find places to work when out and about.Perhaps with coffee, cake or a pint? Let Loc8r help you find the place you're looking for.

